<h4><%= link_to "Crear Post" , new_article_path %></h4>

<ul>
<% @articles.each do |article| %>
	<li>
		<div>
		<h3><%= link_to article.title, article %> </h3>
		<%= image_tag article.cover.url :thumb %>
		<p><%= article.body%>
		</div>
	</li>
<% end %>
</ul>

<%= will_paginate @articles %>
