<div>
<div><h1><%= @article.title %></h1></div>
<div> Escrito por: <%= @article.user.email unless @article.user.nil? %></div>
<div class="field">
	<%= image_tag @article.cover.url(:original) %>
</div>
<div> Visitas: <%= @article.visits_count unless @article.visits_count.nil? %></div>
<div><p><%= @article.body %><p></div>
<div>
<%= link_to "Editar", edit_article_path(@article) %>
</div>
	<h3> Tags: </h3>
	<div>
		<% @article.tags.each do |tag| %>
		<span> 
			<%= link_to tag.name, tag %> 
		</span>
		<% end %>
	</div>
<div >
	<h3>Comentarios:</h3>
	<%= render "comments/form" %>

	<ul id="comments-box">
		<% @comments.each do |comment| %>
			<li>
				<div><%= comment.user.email %> </div>
				<div><%= comment.body %></div>
			</li>	
		<% end %>
	</ul>

	<%= will_paginate @comments %>

</div>
</div>